.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Inter", sans-serif;
}

.selected-categ {
  background-color: #15803D;
  color: #FFFFFF;
}